---
import { EXPERIENCE } from '../repostitories/Experience';
import type { WorkItem } from '../repostitories/resume.types';

type Props = WorkItem
// interface Props {
//     date: string;
//     title: string;
//     company?: string;
//     description: string;
//     link?: string;
// }

const {name, position,url,startDate, endDate,summary,highlights} = Astro.props;
---

<div
    class="relative mx-12 pb-12 grid before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4]"
>
    <div class="relative pb-12 md:col-span-2">
        <div class="sticky top-0">
            <span
                class="text-yellow-400 -left-[42px] absolute rounded-full text-5xl"
            >
                &bull;
            </span>

            <h3 class="text-xl font-bold text-yellow-400">{name}</h3>
            <h4 class="font-semibold text-xl text-gray-600 dark:text-white">
                {position}
            </h4>
            <time class="p-0 m-0 text-sm text-gray-600/80 dark:text-white/80">
                {startDate}
            </time>
        </div>
    </div>
    <div
        class="relative flex flex-col gap-2 pb-4 text-gray-600 dark:text-gray-300 md:col-span-3"
    >
        <p class="text-pretty">{highlights}</p>

        {
            url && (
                <a href={url}>
                    Saber más
                    <svg
                        class="inline size-5"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-chevrons-right"
                    >
                        <>
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M7 7l5 5l-5 5" />
                            <path d="M13 7l5 5l-5 5" />
                        </>
                    </svg>
                </a>
            )
        }
    </div>
</div>
